/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 

#carproLogIframe{
    width: 100%;
    height: 600px;
    background-color: #fff;
    border: 1px solid;
}

.nl-top-header h2, #carproLogSelect{
    font-size: 30px;
    line-height: 60px;
    color: var(--e-global-color-secondary);
    font-family: var( --e-global-typography-primary-font-family );
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.nl-top-header{
    margin-bottom: 30px;
}